#app {
    font-family: Courier New;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin-top: 60px;
  }
#button {
    border: 2px solid #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: none;
    color: #fff;
    transition: 0.3s background, 0.3s color;
    width: 200px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    display: block;
    text-decoration: none;
}

#button:hover {
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#button:visited {
    color: #fff;
}

    #avatar {
      width: 200px;
      height: 200px;
      background: rgb(56, 56, 56);
      border-radius: 300px;
      position: relative;
      transform: translate(-50%, 0);
      background-size: 100%;
      left: 50%;
      border: 5px solid #fff;
  }
  
  .githubRedirect {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: Courier New, monospace;
    text-align: center;
  }


.portfolio {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: Courier New, monospace;
    text-align: center;
  }
